$maxWidth: 1920;
@mixin font-size($minSize, $maxSize) {
  $addSize: $maxSize - $minSize;
  $maxWidth: $maxWidth - 320;
  font-size: calc(
    #{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth})
  );
}

// * {
//   outline: 2px solid red !important;
// }

:root {
  --main: #333;
  --alphaMain: rgba(51, 51, 51, 0.6);
  --sub: #f2994a;
  --alphaSub: #f2994a;
  --dsub: #f2724a;
  --gl: #fff;
}
html,
body {
  @include font-size(10, 12);
  height: 100vh;
  width: 100%;
  overflow: hidden;
  color: var(--gl);
}
body {
  font-size: 14px;
  min-width: 320px;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  overflow-x: hidden;
  background-color: var(--main);
  opacity: 1;
  transition: 0.4s background-color linear;
  will-change: background-color;
  &.disable-hover {
    pointer-events: none;
  }
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.container {
  margin: 0 auto;
  @media (min-width: 992px) {
    max-width: 990px;
  }
  @media (min-width: 1200px) {
    max-width: 1170px;
  }
  @media (min-width: 1600px) {
    max-width: 100%;
    width: 100%;
    padding: 0 200px;
  }
  @media (max-width: 991px) {
    max-width: 730px;
  }
  @media (max-width: 767px) {
    max-width: 540px;
    padding: 0px 10px;
  }
}
.row {
  margin: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &:before,
  &:after {
    box-sizing: border-box;
  }
  &::selection {
    background-color: var(--sub);
    color: var(--gl);
  }
}
a,
p,
button,
article {
  margin-bottom: 0;
  line-height: 1.2;
  color: var(--gl);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: var(--sub);
  font-weight: normal;
  line-height: 1;
}
ul {
  li {
    list-style: none;
  }
}
a,
button,
img,
input {
  &:focus,
  &:hover {
    outline: none;
  }
  &:hover {
    cursor: pointer;
  }
}
a {
  text-decoration: none;
  position: relative;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}
a.undelined {
  white-space: nowrap;
  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 2px;
    transform-origin: right;
    transform: scaleX(0);
    background-color: var(--gl);
    transition: 0.25s 0.1s transform;
  }
  &:hover {
    &:after {
      transform: scaleX(1);
      transform-origin: left;
    }
  }
  @media (max-width: 768px) {
    &:after {
      content: unset;
    }
  }
}
button {
  text-align: center;
  color: var(--gl);
  font-weight: 600;
  @include font-size(12, 14);
  padding: 12px 35px;
  border: 1px solid var(--gl);
  background-color: transparent;
  border-radius: 10px;
}
.img-wrap {
  text-align: center;
}
.button {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  padding: 0.5em 0.7em;
  border: 3px solid var(--gl);
  border-radius: 100px;
  transition: 0.2s border-color, 0.2s color;
  .maskbtn {
    margin-right: 10px;
    transition: 0.2s background-color;
    z-index: 100;
  }
  &:hover {
    border-color: var(--sub);
    .maskbtn {
      background-color: var(--sub) !important;
    }
    &:after {
      content: unset;
    }
  }
}
.preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  pointer-events: none;
  & > .dark,
  .bright {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
  }
  &.active > .bright {
    animation: 0.8s loader ease-in-out forwards;
  }
  &.active > .dark {
    animation: 0.6s loader ease-in-out forwards;
  }
  .bright {
    background-color: var(--sub);
  }
  .dark {
    background-color: var(--main);
  }
  @media (max-width: 767px) {
    display: none;
  }
  &.leave {
    .bright {
      animation: 0.4s leave ease-in-out forwards;
    }
    .dark {
      animation: 0.6s leave ease-in-out forwards;
    }
  }
  &.leavel {
    .bright {
      animation: 0.4s leavel ease-in-out forwards;
    }
    .dark {
      animation: 0.6s leavel ease-in-out forwards;
    }
  }
}
.scrolline {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  stroke-dasharray: 1;
  stroke-dashoffset: 0.999;
  z-index: 9992;
  .bar {
    height: 6px;
    background: linear-gradient(to right, var(--gl), var(--sub), var(--dsub));
    width: 0%;
    border-radius: 0px 0px 10px 10px;
  }
}
.mainline {
  pointer-events: none;
  user-select: none;
  width: 100%;
  position: absolute;
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  z-index: 9980;
  @media (max-width: 767px) {
    display: none;
  }
}
.scrollTop {
  position: fixed;
  bottom: 3em;
  right: 3em;
  transform: translateY(8.5em);
  background-color: var(--sub);
  opacity: 0.6;
  border-width: 5px;
  border-radius: 100%;
  width: 5.5em;
  height: 5.5em;
  transition: 0.2s all ease-in-out;
  z-index: 9985;
  .maskbtn {
    margin: 0;
  }
  &.active {
    transform: unset;
  }
  @media (max-width: 767px) {
    width: 60px;
    height: 60px;
  }
  &:hover {
    opacity: 1;
    cursor: pointer;
    border-color: #fff;
    .maskbtn {
      background-color: #fff !important;
    }
  }
}
.modal-window {
  display: none;
  position: fixed;
  align-content: center;
  justify-content: center;
  top: 0;
  left: 0;
  background-color: var(--alphaMain);
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(15px);
  z-index: 9985;
  &.show {
    display: grid;
  }
  .close-wrap {
    position: relative;
    width: 100%;
    .close {
      position: absolute;
      width: 3.5em;
      height: 3.5em;
      transform: translateY(-50%);
      right: 0;
      top: 0;
      &:hover {
        cursor: pointer;
      }
      span {
        position: absolute;
        right: 0%;
        top: 50%;
        display: block;
        width: 35px;
        height: 3px;
        background-color: #fff;
        pointer-events: none;
        transition: 0.4s transform;
      }
      span:first-child {
        transform: rotate(45deg);
      }
      span:last-child {
        transform: rotate(-45deg);
      }
      &:hover {
        span:first-child {
          transform: rotate(35deg) scaleX(0.5);
        }
        span:last-child {
          transform: rotate(-35deg) scaleX(0.5);
        }
      }
    }
  }
  form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: clamp(300px, 25vw, calc(100vw - 20px));
    max-height: 95%;
    background-color: var(--main);
    border-radius: 20px;
    padding: 4em 3em;
    padding-top: 5em;
    margin-top: 7%;
    box-shadow: 12px 12px 50px var(--dsub), -12px -12px 50px var(--sub);
    .input-wrap {
      position: relative;
      width: 100%;
      font-size: 1.6em;
      margin: 0.8em 0;
      input {
        width: 100%;
        height: 100%;
        padding: 1em 0.8em;
        font-size: 1em;
        border-bottom: 6px solid red;
        border-radius: 10px;
        transition: 0.25s border-color;
        &.shake {
          animation: 0.35s shake ease-in-out;
        }
        @keyframes shake {
          20% {
            transform: translateX(5px);
          }
          50% {
            transform: translateX(-5px);
          }
          70% {
            transform: translateX(5px);
          }
          100% {
            transform: translateX(0px);
          }
        }
      }
    }
    & .input-wrap:nth-of-type(2) {
      margin-top: 2em;
    }
    .btns-wrap {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      button {
        text-align: center;
        margin-top: 0.5em;
        align-self: center;
        text-transform: uppercase;
        @include font-size(15, 24);
        padding: 0.6em 0em;
        width: 45%;
        background-color: var(--main);
        color: var(--gl);
        border: 4px solid var(--gl);
        border-radius: 20px;
      }
      @media (max-width: 767px) {
        flex-direction: column;
        button {
          width: 100%;
          font-size: 14px;
        }
      }
    }
    @media (max-width: 767px) {
      width: 300px;
      .input-wrap {
        margin: 10px 0;
        input {
          font-size: 14px;
        }
      }
    }
  }
}
