.knowledge {
    margin-top: 4em;
    $columns: 10;
    $index: 0.1;
    @mixin opacity {
        $p-list: null;
        @for $i from 1 through $columns {
            .p-#{$i}:before {
                opacity: $index * $i;
            }
            $p-list: append($p-list, unquote(".p-#{$i}"), comma);
        }
    }

    @include opacity;
    h3 {
        font-size: 2.4em;
        &::first-letter {
            text-transform: uppercase;
        }
        small {
            color: #efefef;
            font-size: 0.5em;
            border-bottom: 1px solid var(--sub);
        }
    }
    .stack {
        ul {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            li.button {
                justify-content: start;
                cursor: default;
                &:before {
                    background-color: var(--sub);
                    width: 20px;
                    height: 20px;
                }
            }
        }
        @media (max-width: 767px) {
            margin: 0;
            ul {
                grid-template-columns: 1fr;
            }
        }
    }
    p {
        font-size: 1.4em;
        line-height: 1.2;
        margin-top: 1em;
        font-weight: 300;
        @media (max-width: 767px) {
            font-size: 1.2em;
            line-height: 1.3;
        }
        b {
            font-weight: 500;
            color: var(--sub);
            &:before {
                content: " ";
                display: inline-block;
                margin-left: 0.3em;
            }
            &:after {
                content: " ";
                display: inline-block;
                margin-right: 0.3em;
            }
        }
        &:before {
            content: " ";
            display: inline-block;
            margin-left: 50px;
        }
    }
}
