main {
  height: 100vh;
  display: grid;
  opacity: 0;
  align-content: center;
  @media (max-width: 991px) {
    height: auto;
  }
  * {
    transition: 0.3s color linear, 0.3s background-color linear;
    will-change: color, background-color;
  }
  svg {
    pointer-events: none;
    width: clamp(66px, 1.3em, 1.3em);
    height: clamp(66px, 1.3em, 1.3em);
    position: absolute;
    right: -0.95em;
    top: -0.75em;
    overflow: visible;
    opacity: 0;
    animation: 0.45s fadeIn 0s ease-in-out forwards;
    z-index: 9998;
  }
  .cwrap {
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    width: clamp(66px, 0.8em, 0.8em);
    height: clamp(66px, 0.8em, 0.8em);
    top: -0.5em;
    right: -0.7em;
    opacity: 0;
    position: absolute;
    animation: 1s fadeInP 2s ease-in-out forwards;
    z-index: 0;
    &:before {
      pointer-events: none;
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      background: radial-gradient(
        65.6% 65.6% at 23.16% 73.4%,
        var(--dsub) 0%,
        var(--sub) 100%
      );
      border-radius: 100%;
      z-index: 5;
    }
    &:after {
      pointer-events: none;
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      background-color: var(--main);
      border-radius: 100%;
      width: 200vw;
      height: 200vw;
      opacity: 1;
      transition: 0s transform ease-in-out;
      will-change: transform;
      z-index: -3;
    }
    &.active {
      z-index: -1;
      &:after {
        transition: 0.6s transform ease-in-out;
        transform: translate(-50%, -50%) scale(1);
      }
    }
    &:hover {
      cursor: pointer;
      .mask {
        background-color: #fff;
      }
    }
  }
  textPath {
    @include font-size(10, 12);
    letter-spacing: 1px;
  }
  h1 {
    position: relative;
    user-select: none;
    display: flex;
    flex-direction: column;
    margin-top: clamp(160px, 7vh, 400px);
    margin-left: -0.07em;
    color: var(--gl);
    @include font-size(46, 200);
    span {
      position: relative;
      align-self: start;
      white-space: nowrap;
      display: inline-block;
      position: relative;
      @media (min-width: 768px) {
        opacity: 0;
        transform: translateX(-40%);
        animation: 0.6s slideInLeft 0.6s ease-in-out forwards;
      }
      p {
        color: var(--sub);
        transform: translateX(0%);
      }
    }
    p {
      z-index: 0;
      line-height: 1;
      @include font-size(46, 200);
      @media (max-width: 767px) {
        transform: translateX(-15%);
      }
    }
    @media (max-width: 991px) {
      margin-top: 2em;
    }
    @media (max-width: 767px) {
      margin-top: 3em;
    }
  }
  .row {
    position: relative;
    margin-top: 4em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    z-index: 1;
    a {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-right: 1em;
      margin-top: 1em;
      border-width: 5px;
      @include font-size(14, 36);
    }
    @media (max-width: 991px) {
      margin-top: 3em;
      margin-bottom: 3em;
      a {
        border-width: 2px;
      }
    }
  }
  .circle {
    mix-blend-mode: difference;
  }
  @media (max-width: 991px) {
    .circle,
    .cwrap {
      display: none;
    }
  }
}
