.post {
    opacity: 0;
    margin-top: 8em;
    @media (max-width: 767px) {
        margin-top: 5.5em;
    }
    .name {
        display: inline-block;
        @include font-size(32, 72);
        color: var(--sub);
    }
    .img-wrap {
        border: 5px solid var(--sub);
        border-radius: 8px;
        display: block;
        width: 100%;
        height: fit-content;
        max-height: 110vh;
        overflow: auto;
        scrollbar-width: none;
        flex-shrink: 0;
        &::-webkit-scrollbar {
            background-color: transparent;
            width: 0;
        }
        img,
        source {
            pointer-events: none;
            opacity: 0;
            width: 100%;
            object-fit: contain;
        }
    }
    .hint {
        display: inline-block;
        margin-bottom: 1em;
        color: yellow;
    }
    .image-carousel {
        cursor: grab;
        display: flex;
        overflow-x: scroll;
        scrollbar-width: none;
        scrollbar-color: transparent transparent;
        &::-webkit-scrollbar {
            &-thumb {
                background-color: transparent;
            }
        }
        .img-wrap {
            width: 80%;
            margin: 0px 1em;
        }
        @media (max-width: 767px) {
            scroll-snap-type: x mandatory;
            .img-wrap {
                width: 95%;
                margin: 0px 0.5em;
                scroll-snap-align: start;
            }
        }
    }
    .stack {
        margin-top: 10em;
        padding-top: 1em;
        border-top: 3px solid var(--gl);
        ul {
            margin-left: 0;
            li:hover:before {
                background-color: var(--sub);
            }
        }
        @media (max-width: 767px) {
            margin-top: 2em;
            margin-left: 0;
            ul {
                margin-left: 3em;
            }
        }
    }
    .liveurl {
        position: relative;
        display: inline-block;
        margin-left: 1em;
        font-size: 20px;
        color: var(--sub);
        &:after {
            content: " ";
            position: absolute;
            display: block;
            width: 100%;
            height: 2px;
            background-color: transparent;
            transition: background-color 0.2s, transform 0.2s;
            transform: scaleX(0);
        }
        &:hover:after {
            background-color: var(--sub);
            transform: scaleX(1);
        }
    }
}
