.post {
    opacity: 0;
    margin-top: 8em;
    @media (max-width: 767px) {
        margin-top: 5.5em;
    }
    .name {
        display: inline-block;
        @include font-size(32, 72);
        color: var(--sub);
    }
    .img-wrap {
        display: block;
        width: 100%;
        min-height: 600px;
        max-height: 110vh;
        overflow: auto;
        scroll-snap-align: start;
        flex-shrink: 0;
        img,
        source {
            opacity: 0;
            width: 100%;
            object-fit: contain;
        }
        @media (max-width: 767px) {
            min-height: 400px;
        }
    }
    .image-carousel {
        display: flex;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        .img-wrap {
            width: 80%;
            margin: 0px 1em;
        }
    }
    .stack {
        margin-top: 10em;
        padding-top: 1em;
        border-top: 3px solid var(--gl);
        ul {
            margin-left: 0;
            li:hover:before {
                background-color: var(--sub);
            }
        }
    }
    .liveurl {
        display: inline-block;
        margin-left: 1em;
        font-size: 20px;
        color: var(--sub);
        &:hover {
            border-bottom: 2px solid var(--sub);
        }
    }
}
