.creator {
    .wrap {
        margin: 0 1em;
        margin-top: 7em;
    }

    form {
        margin-bottom: 4em;
    }

    .row {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: row;
    }
    .col {
        div {
            margin: 10px 0;
        }
    }
    .title {
        margin-bottom: 1em;
    }
    label {
        display: inline-block;
        margin-bottom: 5px;
    }
    input,
    textarea {
        display: block;
        width: 100%;
        padding: 12px 20px;
    }
    form {
        width: 300px;
    }
    #page {
        .cases {
            margin-top: 0;
        }
        .case {
            margin-top: 0;
            flex-basis: 95%;
        }
        .case-wrap {
            justify-content: center;
        }
    }
    .technologies {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0.3em 1.4em;
        div {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex-direction: row-reverse;
            input {
                width: auto;
                margin-right: 8px;
            }
            label,
            input {
                margin-bottom: 0;
                line-height: 1;
            }
        }
    }
    .block {
        margin: 0px 1em;
    }
    .oneliner {
        display: flex;
        align-items: center;
        justify-content: center;
        input,
        button,
        label {
            display: inline-block;
            height: 3em;
            border-width: 1px;
            font-size: 1em;
            padding: 0.4em;
            border-radius: 0px;
            margin: 0;
            white-space: nowrap;
        }
    }
    .img-wrap {
        background-color: transparent;
        img {
            width: 100%;
            opacity: 1;
        }
    }
}
